@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

.darkBody{
  background-color: #000;
}

.full {
  height: 100%;
}

.lightBody {
  background-color: #fff;
  height: 100vh;
}

.textCenter {
  text-align: center;
}

.global{
/*  width: 65%;
  margin: 5% auto;*/
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.titleAndTheme{
  display: flex;
  margin: 12px auto;
  gap: 20px;
}

.alert {
  margin: 15% auto;
}

.addTask {
  margin:  auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.addTaskDark {
  border: 4px solid #fff;
}

.dark {
  background-color: #212529;
}

.titleAppLight{
  color: #000;
  font-size: 45px;
}

.titleAppDark{
 color:  #fff;
 font-size: 45px;
}

.changeTheme {
  display: flex;
  gap: 20px;
}

.themeImg{
  width: 60px;
  height: 60px;
}

.nes-input {
  outline: none;
}

.errorText {
  margin-top: 15px;
  text-align: center;
  display: none;
}

.addBtnDiv{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.addBtn{
  margin: auto;
  width: 210px;
}

.cleanBtn{
  margin: auto;
  width: 210px;
}

.taskDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
}

.taskFilter {
  display: flex;
  gap: 15px;
  margin: 0 auto 10px auto;
}

.taskFilterDark {
  display: flex;
  gap: 15px;
  color: #fff;
  margin: 0 auto 10px auto;
}

.taskList {
  display: flex;
  gap: 8px;
  width: 700px;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.active {
  border-bottom: 3px solid #000;
}

.activeDark {
  border-bottom: 3px solid #fff;
}

.onlyTask {
width: 320px;
  position: relative;
/*position: relative;*/
/*display: flex;
flex-direction: column;*/
}

.taskLabel {
  position: relative;
}


.taskNum{
 margin-bottom: 5px;
 background-color: red;
}

.taskActions {
  position: absolute;
  display: flex;
  gap: 15px;
  bottom: 65%;
  left: 75%;
/*  bottom: 75%;
  left: 500%;*/
}

.taskBtn {
  color: red;
}

.confirm-container {
  display: flex;
  justify-content: center;
}

.edit-container {
  display: flex;
  flex-direction: column;
}

.edit-btn {
  display: flex;
  margin: 15px auto;
  gap: 15px;
}

.timeContainer {
  display: flex;
  height: 15px;
  margin-top: 5px;
}

.taskTime {
margin-left: auto;
}

.dialog-dark {
  overflow-x: hidden;
  overflow-y: hidden;
}

.invisible {
  display: none;
}

@media only screen and (max-width: 600px) {
  .titleAppLight {
    font-size: 37px;
    text-align: center; 
  }
  .titleAppDark {
    font-size: 37px;
    text-align: center;
  }
  .titleAndTheme {
    flex-direction: column;
  }
  .changeTheme {
    margin: -20px auto;
  }
  .alert {
    margin: 50% auto;
  }
  .taskList{
    flex-direction: column;
    width: 400px;
  }
  .onlyTask {
    width: 100%;
  }
};



